name: Build and Publish

on:
  push:
    branches: [master]
    tags:
      - 'v*'
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    if: ${{ !contains(github.event.head_commit.message, 'ci skip') }}
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install
      - name: Lint
        run: pnpm lint
      - name: Build library
        run: pnpm build

      - name: Upload built library
        uses: actions/upload-artifact@v4
        with:
          name: thu-learn-lib
          path: lib/

  publish-to-npm:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      packages: write
    if: ${{ startsWith(github.ref, 'refs/tags/v') }}
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
          registry-url: 'https://registry.npmjs.org'

      - name: Download build result
        uses: actions/download-artifact@v4
        with:
          name: thu-learn-lib
          path: lib/
      - name: Publish to NPM
        run: pnpm publish
